body {
  margin: 0 auto;
}

header {
    background: #143e1b;
    color: white;
    padding: 2px;
    text-align: center;
    margin: 0 auto;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    
}

/* Estilo para la barra de navegación en pantalla pequeña */
.navbar-toggler {
    font-size: 18px;
    /* Tamaño del icono */
    padding: 6px 12px;
    /* Ajuste de tamaño */
}

/* Transición suave para el navbar */
.navbar-collapse {
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

/* Estilo para los elementos del navbar */
.navbar-nav .nav-item {
    padding: 5px 10px;
}

/* Mejoras en la visibilidad en pantallas pequeñas */
@media (max-width: 767px) {
    header {
        font-size: 16px;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-collapse {
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
    }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 320px) {
    header {
        padding: 2px;
        font-size: 14px;
        text-align: left;
    }

    .navbar-toggler {
        font-size: 14px;
        /* Reducir el tamaño del icono */
        padding: 4px 8px;
        /* Ajuste de tamaño */
    }

    /* Asegurar que el contenedor no se rompa */
    .navbar-collapse {
        width: 100%;
        /* Asegura que el contenedor se ajuste */
    }

    /* Asegurar que la navbar no se desborde */
    .container-fluid {
        padding: 0 10px;
        /* Ajustar el espaciado de los lados */
    }
}