h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.swiper-container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  overflow: hidden; /* Evita el desplazamiento innecesario */
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

/* Estilo de la tarjeta del partido */
.partido-card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 60%;
  margin: 20px auto;
}

.partido-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.equipo-logo {
  width: 15%;
  height: auto;
  margin: 10px 0;
}

.contenido h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.contenido p {
  font-size: 1rem;
  margin: 5px 0;
  color: #666;
}

.botones-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.btn-comentar {
  background-color: #2d8e2d;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-comentar:hover {
  background-color: rgb(29, 95, 29);
  transform: scale(1.05);
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-pagination {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
  .swiper-container {
    width: 100%;
    padding: 0 10px; /* Para que el swiper no se quede pegado a los bordes */
  }

  .partido-card {
    flex-direction: column;
    height: auto;
    max-width: 100%; /* El ancho se adapta completamente */
    margin: 10px auto;
  }

  .equipo-logo {
    width: 15%;
  }

  .contenido h3 {
    font-size: 1.2rem;
  }

  .contenido p {
    font-size: 0.9rem;
  }

  .btn-comentar {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .partido-card {
    width: 100%;
    padding: 15px;
  }

  .equipo-logo {
    width: 50px;
  }

  .contenido h3 {
    font-size: 1.1rem;
  }

  .contenido p {
    font-size: 0.8rem;
  }

  .btn-comentar {
    font-size: 0.85rem;
    padding: 6px 10px;
  }
}

@media (max-width: 425px) {
  .partido-card {
    width: 80%;
    height: auto;
    padding: 10px;
  }


}

@media (max-width: 375px) {
  .partido-card {
    width: 80%;
    height: auto;
    padding: 10px;
  }


}

@media (max-width: 320px) {
  .partido-card {
    width: 80%;
    height: auto;
    padding: 10px;
  }


}
